<div class="wrapper">
  <h3 data-toc-skip> Did you like the article? Subscribe for more.</h3>
      <form action="https://dev.us20.list-manage.com/subscribe/post-json?u=fb1deb852e0da99410d8eb6b2&amp;id=8acc3cf1bd&c=?"
          method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address here" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
          </div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary">
          <div id="subscribe-result">
          </div>
      </form>
</div>

<script>
  $(document).ready(function () {
    var $form = $('#mc-embedded-subscribe-form')
    if ($form.length > 0) {
      $('form input[type="submit"]').bind('click', function (event) {
        if (event) event.preventDefault()
        register($form)
      })
    }
  })

  function register($form) {
    $('#mc-embedded-subscribe').val('Sending...');
    $.ajax({
      type: $form.attr('method'),
      url: $form.attr('action'),
      data: $form.serialize(),
      cache: false,
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      error: function (err) { alert('Could not connect to the registration server. Please try again later.') },
      success: function (data) {
        $('#mc-embedded-subscribe').val('Subscribe')
        if (data.result === 'success') {
          // Yeahhhh Success
          console.log(data.msg)
          $('#mc-embedded-subscribe').removeClass("btn-secondary").addClass("btn-success");
          $('#mc-embedded-subscribe').val('Success!')
          $('#mce-EMAIL').css('borderColor', '#ffffff')
          $('#subscribe-result').css('color', 'rgb(53, 114, 210)')
          $('#subscribe-result').html('<p>Thank you for subscribing.</p>')
          $('#mce-EMAIL').val('')
        } else {
          // Something went wrong, do something to notify the user.
          console.log(data.msg)
          $('#mce-EMAIL').css('borderColor', '#ff8282')
          $('#subscribe-result').css('color', '#ff8282')
          $('#subscribe-result').html('<p>' + data.msg + '</p>')
        }
      }
    })
  };
</script>
