---
layout: default
---

<div class="row">
  <div class="col-lg-2">
    {% if page.layout == "post" %}
      <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
    {% endif %}
    {% if page.name == 'index.html' %}
    <div class="sidebar_profile">
      <img src="/assets/images/profile_pic.jpg">
      <p>
      <h3 style="margin: -15px 0 7px 0;">Dorian Brown</h3>
      <p>
        A freelance Data Scientist focused on NLP, based in the Netherlands.
      </p>
      <p style="margin-top: -10px">
        <a href="/about">Read More</a>
      </p>
      <p>
        <a href="mailto:mail@dorianbrown.dev">
          <i class="fab far fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/doriansbrown">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.github.com/dorianbrown">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://stackoverflow.com/users/1415371/ballzoffury">
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a href="https://www.instagram.com/_dorianbrown/">
          <i class="fab fa-instagram"></i>
        </a>
      </p>
    </div>
    {% endif %}
  </div>
  <div id="content" class="mx-auto col-lg-8">
    {{ content }}
  </div>
</div>
