---
layout: columns
---

<article class="post">
  {% if page.image %}
  <figure class="title-figure">
    <img class="title-img" src="{{ page.image }}">
    <div class="title-text"> {{ page.title }} </div>
  </figure>
  {% else %}
    <h1> {{ page.title }} </h1>
  {% endif %}

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="post-categories">
    <b>Categories: </b>
    <br>
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %} <br> {% endunless %}
    {% endfor %}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <hr style="margin-top: 3rem;">

  <div class="a2a_kit a2a_kit_size_30 a2a_default_style" style="margin: 3rem 0rem;">
  <a class="a2a_button_twitter a2a_counter"></a>
  <a class="a2a_button_linkedin a2a_counter"></a>
  <a class="a2a_button_hacker_news a2a_counter"></a>
  <a class="a2a_button_whatsapp a2a_counter"></a>
  <a class="a2a_button_reddit a2a_counter"></a>
  <a class="a2a_button_facebook a2a_counter"></a>
  </div>

  {% include signup.html %}

  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <script>
    var a2a_config = a2a_config || {};
    a2a_config.counts = { recover_domain: 'dorianbrown.github.io' };
  </script>

</article>
